<nav class="green darken-1">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Форма</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul  class="right hide-on-med-and-down">
        

        {{#if isAuth}}
          {{!-- {{#if isHome}}
          <li class="active"><a href="/">Главная</a></li>
          {{else}}
          <li><a href="/">Главная</a></li>
          {{/if}} --}}
          {{#if isTable}}
          <li class="active"><a href="/records">Записи</a></li>
          {{else}}
          <li><a href="/records">Записи</a></li>
          {{/if}}
          {{#if isAdd}}
          <li class="active"><a href="/add">Добавить</a></li>
          {{else}}
          <li><a href="/add">Добавить</a></li>
          {{/if}}
          {{#if isProfile}}
          <li class="active"><a href="/profile">Профиль</a></li>
          {{else}}
          <li><a href="/profile">Профиль</a></li>
          {{/if}}
          {{#ifeq userRole 'admin'}}
            {{#if isUsers}}
              <li class="active"><a href="/users">Пользователи</i></a></li>
            {{else}}
              <li><a href="/users">Пользователи</i></a></li>
            {{/if}}
            {{#if isGrbs}}
              <li class="active"><a href="/grbs">ГРБС</i></a></li>
            {{else}}
              <li><a href="/grbs">ГРБС</i></a></li>
            {{/if}}
          {{/ifeq}}
           {{#if isGrbs}}
              <li class="active"><a href="/grbs/{{grbsId}}">ГРБС</i></a></li>
            {{else}}
              <li><a href="/grbs/{{grbsId}}">ГРБС</i></a></li>
            {{/if}}
          <li><a href="/auth/logout">Выйти</a></li>
        {{else}}
            {{#if IsLogin}}
            <li class="active"><a href="/auth/login#login">Войти</a></li>
            {{else}}
            <li><a href="/auth/login#login">Войти</a></li>
            {{/if}}
        {{/if}}
        
        
        

       
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    {{#if isAuth}}
      <li><a href="/">Главная</a></li>
      <li><a href="/records">Записи</a></li>
      <li><a href="/add">Добавить</a></li>
      {{#if IsLogin}}
          <li class="active"><a href="/auth/login#login">Войти</a></li>
      {{else}}
          <li><a href="/auth/login#login">Войти</a></li>
      {{/if}}
    {{else}}
      <li class="active"><a href="/auth/login#login">Войти</a></li>
    {{/if}}
  </ul>