<div class="row">
    <div class="col s5">
        <h1 >Записи</h1>
    </div>
    <div class="col s2">
      <h1>
      {{#if isAll}}
      <a class="waves-effect waves-light btn green darken-1 disabled" >Все</a>  
      {{else}}
      <a class="waves-effect waves-light  btn green darken-1" href="/records">Все</a>
      {{/if}}
      {{#if isMy}}
      <a class="waves-effect waves-light btn green darken-1 disabled">Мои</a>
      {{else}}
      <a class="waves-effect waves-light btn green darken-1" href="/records/my">Мои</a>
      {{/if}}
      </h1>
    </div>  
    {{#ifeq userRole 'admin'}}
    
    <div class="col s2 offset-s3">
        
            <h1>
                <a href="/download/full" class="btn green darken-1">Скачать<i class="material-icons">play_for_work</i></a>
                
            </h1>
            
    </div>
{{/ifeq}}

{{#if records.length}}
<div class="row">
<table class="highlight centered col 12">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>Заказчик (наименование, ИНН)</th>
            <th>Номер договора/контракта  в ЕИС</th>
            <th>Дата заключения договора/контракта</th>
            <th>Объект закупки (наименование товара, указать в соответсвии со спецификацией)</th>
            <th>Сумма, руб.</th>
            <th>Наименование контрагента</th>
            <th>Действия</th>
        </tr>
    </thead>
{{#each records}}  
    <tr>
        <td>{{counter @index @root.forIndex}} </td>
        <td>{{ name }}, {{ inn }} </td>
        <td>{{ nomer_dogovora }} </td>
        <td>{{ moment data_zakl_dogovora format="DD.MM.YYYY" }} г.</td>
        <td> {{object}} </td>
        <td class="price"> {{full_price}} </td>
        <td> {{name_kontragent}} </td>
        <td>
            <a href="/records/{{id}}"><i class="tiny material-icons">remove_red_eye</i></a>
            {{#ifeq userId._id @root.userId}}
              <a href="/records/{{id}}/edit?allow=true"><i class="tiny material-icons">mode_edit</i></a>
              <a href="/records/remove/{{id}}"><i class="tiny material-icons">block</i></a>
            {{/ifeq}}
        </td>
    </tr>
{{/each}}

</table>

</div>
{{else}}
<div class="row">
<p>Данных пока нет</p>
</div>
{{/if}}

{{#if isAll}}
<div class="pagination pagination-centered">
  <ul>
    {{#paginate pagination type="previous"}}
      <li {{#if disabled}}class="disabled"{{/if}}><a href="/records/page/{{n}}"><i class="material-icons">chevron_left</i></a></li>
    {{/paginate}}
    {{#paginate pagination type="middle" limit="3"}}
      <li {{#if active}}class="active green darken-1"{{/if}}><a href="/records/page/{{n}}">{{n}}</a></li>
    {{/paginate}}
    {{#paginate pagination type="next"}}
      <li {{#if disabled}}class="disabled"{{/if}}><a href="/records/page/{{n}}"><i class="material-icons">chevron_right</i></a></li>
    {{/paginate}}
  </ul>
</div>
{{else}}
<div class="pagination pagination-centered">
  <ul>
    {{#paginate pagination type="previous"}}
      <li {{#if disabled}}class="disabled"{{/if}}><a href="/records/my/page/{{n}}"><i class="material-icons">chevron_left</i></a></li>
    {{/paginate}}
    {{#paginate pagination type="middle" limit="3"}}
      <li {{#if active}}class="active green darken-1"{{/if}}><a href="/records/my/page/{{n}}">{{n}}</a></li>
    {{/paginate}}
    {{#paginate pagination type="next"}}
      <li {{#if disabled}}class="disabled"{{/if}}><a href="/records/my/page/{{n}}"><i class="material-icons">chevron_right</i></a></li>
    {{/paginate}}
  </ul>
</div>
{{/if}}

