<div class="row">
    <div class="col s12 s8">
      <div class="card z-depth-2">
        <div class="card-content">
          <span class="card-title"><h1>Просмотр данных</h1></span>

       <div>
                <h5>Главный распорядитель бюджетных средств</h5>
                <blockquote>
                      {{grbs.name}}
                </blockquote>
                
            </div>
      <div>
                <h5>Email ответвенного в ГРБС</h5>
                <blockquote>
                      {{grbs.email}}
                </blockquote>
                
            </div>

      <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="active" href="#old">Подведы</a></li>
        {{#ifeq userEmail email}}
        <li class="tab"><a  href="#new">Новые</a></li>
        {{/ifeq}}
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="old">
      {{#if departments.length}}   

      <table class="">
    <thead>
          <tr>
            <th>Название</th>
            <th>ФИО ответсвенного</th>
            <th>email</th>
      </tr>
     </thead>
     <tbody>
{{#each departments}}
      <tr>
           <td>{{departmentId.name}}</td>
           <td>{{name}}</td>
           <td>{{email}}</td>
      </tr>
     </tbody>
{{/each}}
     </table>

{{else}}
<blockquote>
      <h5>Нет ни одной подведеномственной организации</h5>
</blockquote>

{{/if}}

      </div>
{{#ifeq userEmail email}}
      <div id="new">
                  {{#if departmentsnew.length}}   

      <table class="">
    <thead>
          <tr>
            <th>Название</th>
            <th>ФИО ответсвенного</th>
            <th>email</th>
            <th>Действия</th>
      </tr>
     </thead>
     <tbody>
{{#each departmentsnew}}
      <tr>
           <td>{{departmentId.name}}</td>
           <td>{{name}}</td>
           <td>{{email}}</td>
           
           <td>
                 <a href="/users/approve/{{_id}}"><i class="tiny material-icons">check</i></a>
                 <a href="/users/remove/{{_id}}"><i class="tiny material-icons">close</i></a>

           </td>
           
      </tr>
     </tbody>
{{/each}}
     </table>

{{else}}
<blockquote>
      <h5>Все проверенны </h5>
</blockquote>

{{/if}}
      </div>
      {{/ifeq}}
    </div>
  </div>

      </div>            
 



 
</div>
</div>
</div>





